html, body {
    height: 100%;
    overflow-x: hidden;
}

.modal {
    background: rgba(0,0,0,0);
    transition: transform .3s ease-out, background-color .3s ease-out;
}
.modal.in {
    background: rgba(0,0,0,.5);
}

#logged-in {
    line-height: 1;
    height: 100%;
    overflow-x: hidden;
    padding: 5px 10px 0 10px;
    box-sizing: border-box;
}

header {
    height: 53px;
}

.bullet {
    display: block;
    float: left;
    font-size: 13px;
    line-height: 17px;
    margin: 1px 8px 1px 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: white;
    color: #0275d8;
    box-shadow: 0 0 1px #fff;
}

.btn.active {
    box-shadow: 0 0 0 2px #0059a5;
}

.btn.active .bullet {
    font-size: 111%;
    font-weight: 500;
    background: #ffe;
    box-shadow: 0 0 0 2.3px #ffe;
    position: relative;
    left: -1px;
}

big {
    color: #676767;
    font-size: 30px;
    line-height: 33px;
    vertical-align: bottom;
}

#logout {
    font-size: 14px;
    float: right;
    margin-top: 10px;
    padding-left: .4em;
}

input[ng-model] {
    width: 57px;
    padding: 0 4px;
    line-height: 23px;
}


@media (min-width: 723px) {
    header > button {
        font-size: 16px !important;
        padding-left: 10px!important;
        padding-right: 10px!important;
    }

    .bullet {
        font-size: 14px;
        margin: 2px 9px 2px 0;
        width: 18px;
        height: 18px;
    }

    big {
        font-size: 32px;
        line-height: 36px;
        margin: 0 1px;
    }

    #logout {
        font-size: 15px;
        margin-top: 12px;
    }

    input[ng-model] {
        line-height: 27px;
    }

    button {
        line-height: 21px!important;
    }
}


#tags-f-input {
    width: calc(100% - 36px);
    float: right;
}

#tags-f-span {
    position: relative;
    top: 7px;
}

.cross {
    position: absolute;
    width: 15px;
    height: 15px;
    line-height: 13px;
    text-align: center;
    bottom: 8px;
    right: 22px;
    border-radius: 50%;
    background: #ddd;
    color: #fff;
    cursor: pointer;
}

.cross:hover {
    box-shadow: 0 0 1.5px #999;
}

.nav-body {
    display: none;
    height: calc(100% - 69px);
}

#scroll-tbl {
    height: calc(100% - 103px);
    margin-top: 3px;
}

.overflow {
    padding-top: 2px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#tags-question,
#comment-chart {
    color: #888;
    font-size: 13px;
    margin-bottom: 11px;
}

#tags .table {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th,
td {
    font-size: 13px!important;
    padding: 3px!important;
    line-height: 1.2;
}

tr.active {
    background: #f0f0ff!important;
}

th {
    background: #eceeef!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    border-top: 0!important;
}

th:first-child {
    border-bottom: 0!important;
}

th > b {
    font-size: 11px;
}

#surveys th,
#surveys td {
    padding: 4px!important;
}


tr:nth-of-type(odd) {
    background-color: #f9f9f9!important;
}

tbody tr:hover {
    background: #f9f9ff!important;
}

td[draggable]:hover {
    box-shadow: 0 0 6px #aaa inset, 0 0 1px #aaa;
}

#tags th:first-child,
#answers th:first-child,
#tags td:first-child,
#short-table td:first-child {
    text-align: center;
}

a {
    color: #0275d8!important;
    display: inline-block!important;
    text-align: center!important;
    cursor: pointer!important;
}

.del-line {
    cursor: pointer;
    width: 1.2em;
    color: #C66;
}

[draggable] {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

tbody span,
tbody input:not([type=checkbox]) {
    display: inline-block;
    padding: 0 3px;
    width: 100%;
}

tbody span:hover {
    background: #fcfcfc;
    box-shadow: 0 0 7px 1px #ccc;
}

tbody input:not([type=checkbox]) {
    border: 0;
    box-shadow: 0 0 14px 4px #000;
    outline: 2px solid #fff;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

tbody li:hover {
    background: #ececff;
    box-shadow: 0 0 0 1px #ececff;
}

tbody li > span {
    width: calc(100% - 52px);
}

#answers-table li {
    color: orange;
}

del-syn,
del-tag,
dupl-syn,
del-undo {
    cursor: pointer;
    float: right;
    color: #0275ff;
    position: relative;
    left: -2px;
    margin-left: 6px;
}

del-syn,
del-tag,
dupl-syn {
    visibility: hidden;
}

li:hover > del-syn,
li:hover > del-tag,
li:hover > dupl-syn {
    visibility: visible;
}

dupl-syn {
    color: #090;
}

#undo {
    background: #fff4e2;
    font-size: 12px;
    width: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    border-top: 1px solid white;
}

#undo > div {
    padding: 4px 3px 3px 6px;
    overflow: hidden;
    box-shadow: 0 0 2px 4px #fff4e2;
}

#undo > div:hover {
    background: #fbecd8;
    box-shadow: 0 0 2px 4px #fbecd8;
}

undo {
    cursor: pointer;
    color: #0275d8;
}

undo:hover {
    text-decoration: underline;
}

del-undo {
    padding: 1px;
}

del-undo:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

tbody ul {
    margin: -1px 0 0 0;
    list-style: none;
}

.modal .close {
    margin-top: -9px;
}

::-webkit-input-placeholder {
    color: #ddd;
}

::-moz-placeholder {
    color: #ddd;
}

:-ms-input-placeholder {
    color: #ddd;
}



@media (max-width: 722px) {
    .cross {
        bottom: 6px;
    }

    th,
    td {
        line-height: 1.1;
    }

    #scroll-tbl {
        height: calc(100% - 98px);
        margin-top: 0;
    }

    #tags-question,
    #comment-chart {
        margin-bottom: 6px;
    }

    #tags-f-input {
        width: 100%;
    }

    #tags-f-span {
        top: 0;
    }

    #terms-table,
    #short-table {
        padding-left: 0!important;
    }

    tbody span {
        max-width: 218px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #sgi {
        font-size: 12px!important;
    }
}


@media (max-width: 632px) {
    header {
        height: 77px;
    }
    .nav-body {
        height: calc(100% - 77px);
    }
    #scroll-tbl {
        height: calc(100% - 112px);
    }
    tbody span {
        max-width: 189px;
    }
    #sgi {
        font-size: 11px!important;
    }
    #btn-chart {
        margin-top: 10px;
    }
}


@media (max-width: 590px) {
    tbody span {
        max-width: 169px;
    }
}


@media (max-width: 544px) {
    #sgi {
        font-size: 10px!important;
    }
    #scroll-tbl {
        height: auto;
    }
    tbody span {
        max-width: 300px;
    }
    #undo {
        width: 100%;
    }
    #btn-chart {
        margin-top: 0;
    }
}


@media (max-width: 345px) {
    tbody span {
        max-width: 200px;
    }
    .bullet {
        display: none;
    }
    tbody span {
        max-width: 275px;
    }
}