header,
section {
    padding: 10px;
}

header,
.toolbar {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header h5 {
    display: inline-block;
}

header .logout {
    float: right;
}


.toolbar {
    top: 40px;
}

.tables {
    margin-top: 240px;
}


#tags-table td:first-child {
    text-align: center;
}

#tags-table td {
    font-size: 13px;
    padding: 3px;
}

#tags-barchart {
    border: 1px solid #ccc;
    width: 600px;
}
