header,
section {
    padding: 10px;
}

header,
.surveys {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header h5 {
    display: inline-block;
}

header .logout {
    float: right;
}


.surveys {
    top: 40px;
}

.tags {
    margin-top: 240px;
}


#tags-table td:first-child {
    text-align: center;
}

.table tr {
    position: relative;
}

.table tr:after {
    content: 'x';
    position: absolute;
    top: 3px;
    right: 3px;
    display: none;
    opacity: 0;
    transition: opacity .2s;
}

.table tr:after:hover {
    display: block;
    opacity: 1;
}

.table td {
    font-size: 13px;
    padding: 3px;
}

#tags-barchart {
    border: 1px solid #ccc;
    width: 600px;
}
