<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/ng-file-upload-bower/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="../node_modules/ng-file-upload-bower/ng-file-upload.js"></script>
    <script src="../js/dragndrop.js"></script>
    <link rel=stylesheet href="../css/app.css">
</head>
<body>
<div ng-app="fileUpload" ng-controller="MyCtrl">Username
    Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box"
         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
         accept="image/*,application/pdf"
         ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    Upload Log:
    <pre>{{log}}</pre>
</div>
</div>
</body>
</html>